body{
    background-color: whitesmoke;
}
.imgs{
    display: flex;
}

.imgone{
width:900px;
height:450px;
}

.imgtow{

width: 600px;
height: 250px;
margin-left: 10px;
margin-left: 1px;
margin-top: 290px;
margin-left: 150px;


}


.imgthree{
margin-top:-10px;

width: 600px;
height: 300px;

}