body{
    background-color: white;
}
.imgs{
    display: flex;
}

.imgone{
width:900px;
height:450px;
}

.imgtow{

width: 600px;
height: 200px;
align-items: center;
    margin-top: 10px;
    float: left;
    position: absolute;
   margin-top: 290px;
   left: 900px;

}


.imgthree{
margin-top:-10px;

width: 600px;
height: 300px;

}